

<section class="top-section">
    <div class="container-fluid">
		<div class="row">
			<div class="col-md-offset-1 col-md-4">
				<div class="hero-images">
					<img src="http://res.cloudinary.com/dx3z90dgl/image/upload/v1483451983/RTO12Logo_Angled-01_a4euwt.svg" alt="Rto12logo angled 01 a4euwt">
				</div>
			</div>
			<div class="col-md-offset-1 col-md-5">
				<div class="homepadborder">
					<h1 class="herowhiteh1">SHARE YOUR CANADA WITH THE WORLD</h1>
					<h4 class="herowhiteh4">Greetings fellow Canucks!</h4>
					<h4 class="herowhiteh4">In case you didn’t get the memo with the latest care package of maple syrup and ketchup chips, July 1st will mark the 150th anniversary of Canada.</h4>
					<h4 class="herowhiteh4">Explorers’ Edge wants to bring one lucky Canadian ex-pat back home to celebrate Canada’s 150th with us in the wilderness north of Toronto and heck – because we’re all so nice – how about a few friends from your new country tag along too?</h4>
					<h4 class="herowhiteh4">Share your passion for Canada with the world and you could be headed home for an incredible week of very Canadian adventures – on us!</h4>
					<h2 class="herowhiteh2">Share your story now. Start by entering your email!</h2>
						<div class="signup-form">
							<%= render 'form' %>
						</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="your-adventure">
  <div class="container-fluid">
    <div class="col-md-7">

      <div class="bracket-text">
        <h1 style="font-weight: 400;">How do you win?</h1>
		<h1>Share It Loud And Proud</h1>
		<h3>Upload your photos and stories of your favourite times spent in the great Canadian wilderness – then SHARE ON SOCIAL WITH YOUR NEW FRIENDS IN YOUR NEW COUNTRY.</h3>
		<h3>Five finalists will be selected from the most number of votes – and the GRAND PRIZE winner of the Canada 150 Vacation will be chosen among them by Explorers’ Edge!</h3>
		<h3>All finalists &amp; participants will be chosen throughout the contest to receive a custom care packages from Explorers’ Edge!</h3>
		<h3><a href="#enter" class="button-main">Enter Your Story</a><a href="#vote" class="button-main">Vote for your favourite Canadian Story</a>
	  </div>
    </div>
  </div>
  </section>

<section class="more-posts">
    <div class="container-fluid">
		<h1 style="text-align:center;margin:5vh;">Vote for Your Favourite Canadian Story</h1>
    </div>
</section>

  <section class="enter-to-win">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-1 col-sm-6">
          <ul class="rules">
            <li class="rules-text">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                  <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1485128526/Checkmark-01_zojxsb.svg") %>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                  <p>Sign Up<p>
                </div>
              </div>
            </li>
            <li class="rules-text">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1485128526/Checkmark-01_zojxsb.svg") %>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-8">
                  <p class="instructions">Submit your entry with a photo and short story – don’t forget to choose your filter<p>
                </div>
              </div>
            </li>
            <li class="rules-text">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1485128526/Checkmark-01_zojxsb.svg") %>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-8">
                  <p class="instructions-small">Share your entry for a chance to win<p>
                </div>
              </div>
            </li>
            <li class="rules-text">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1485128526/Checkmark-01_zojxsb.svg") %>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-9">
                  <p class="instructions-small">Check back on your votes, and keep sharing<p>
                </div>
              </div>
            </li>

          </ul>
        </div>
        <div class="col-md-5 col-sm-5">
          <h1 id="enter-now">ENTER TO WIN</h1>
          <p class="below">Sign up below to get started!</p>

        </div>
      </div>
    </div>
  </section>

  <section class="choose-canada">
    <div class="container-fluid">
      <div class="green-board">
        <div class="col-md-8 col-md-offset-2 board-text">
          <h2>CHOOSE YOUR CANADA</h2>
          <h1>CAST YOUR VOTE</h1>
          <a class="button-main" href="/entries">Vote for Your Canada</a>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid entries-last-six">
    <div class="row flex-md-top">
    <% @entries.last(2).each do |entry| %>
      <div class="col-md-6 image-block" id="image<%= entry.id %>" data-link="<%= entry_path(entry) %>">

      <% if entry.filter %>
      <style>
        #image<%= entry.id %> { background-image: url(<%= entry.filter %>); background-size: cover; height: 400px; background-repeat: no-repeat; background-position: center center;}
      </style>
      <% else %>
      <style>
        #image<%= entry.id %> { background-image: url(<%= entry.avatar_url %>); background-size: cover; height: 400px; background-repeat: no-repeat; background-position: center center;}
      </style>
      <% end %>
        <%#= image_tag(entry.filter) %>
        <%#= cl_image_tag(entry.filter, :width => 800, :height => 400, :crop => "fill") %>
        <div class="hover-content-top">
          <span class="hover-user"><%= entry.user.name %></span><br>
          <span class="hover-title"><h3>
            <% if entry.title %>
            <%= entry.title %>
            <% else %>
            This is our Canada
            <% end %>
          </h3></span><br>
          <span class="hover-votes"><h3><i class="fa fa-heart-o" aria-hidden="true"></i><%= entry.votes.where(email_confirmed: true).count %> VOTES </h3></span><br>
        </div>
        <div class="hover-content-bottom">
          <span class="hover-share">SHARE</span><br>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        <div class="hover-content-bottom-right">
          <%= link_to "SEE MORE", entry_path(entry) %>
        </div>
      </div>
    <% end %>
    </div>
    <div class="row flex-md-middle">
    <% @admin.last(2).each do |admin| %>
      <div class="col-md-6 image-block" id="admin<%= admin.id %>" data-link="<%= admin_path(admin) %>">

        <% if admin.filter %>
        <style>
          #admin<%= admin.id %> { background-image: url(<%= entry.filter %>); background-size: cover; height: 400px; background-repeat: no-repeat; background-position: center center;}
        </style>
        <% else %>
        <style>
          #admin<%= admin.id %> { background-image: url(<%= admin.image_url %>); background-size: cover; height: 400px; background-repeat: no-repeat; background-position: center center;}
        </style>
        <% end %>

        <%#= image_tag(entry.filter) %>
        <div class="hover-content-top">
          <span class="hover-user"><%= admin.name %></span><br>
          <span class="hover-title"><h3>
            This is our Canada
          </h3></span><br>
          <span class="hover-votes"><h3><i class="fa fa-heart-o" aria-hidden="true"></i></h3></span><br>
        </div>
        <div class="hover-content-bottom">
          <span class="hover-share">SHARE</span><br>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        <div class="hover-content-bottom-right">
          <%= link_to "SEE MORE", admin_index_path %>
        </div>
      </div>
    <% end %>
    </div>
    <div class="row flex-md-bottom">
    <% @entries.offset(2).last(2).each do |entry| %>
      <div class="col-md-6 image-block" id="image<%= entry.id %>" data-link="<%= entry_path(entry) %>">

        <% if entry.filter %>
        <style>
          #image<%= entry.id %> { background-image: url(<%= entry.filter %>); background-size: cover; height: 400px; background-repeat: no-repeat; background-position: center center;}
        </style>
        <% else %>
        <style>
          #image<%= entry.id %> { background-image: url(<%= entry.avatar_url %>); background-size: cover; height: 400px; background-repeat: no-repeat; background-position: center center;}
        </style>
        <% end %>

        <%#= image_tag(entry.filter) %>
        <div class="hover-content-top">
          <span class="hover-user"><%= entry.user.name %></span><br>
          <span class="hover-title"><h3>
            <% if entry.title %>
            <%= entry.title %>
            <% else %>
            This is our Canada
            <% end %>
          </h3></span><br>
          <span class="hover-votes"><h3><i class="fa fa-heart-o" aria-hidden="true"></i><%= entry.votes.where(email_confirmed: true).count %> VOTES </h3></span><br>
        </div>
        <div class="hover-content-bottom">
          <span class="hover-share">SHARE</span><br>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        <div class="hover-content-bottom-right">
          <%= link_to "SEE MORE", entry_path(entry) %>
        </div>
      </div>
    <% end %>
    </div>
  </section>

  <section class="more-posts">
    <div class="more-posts-button">
      <%= link_to "More Posts", entries_path %>
    </div>
  </section>

  <section class="tourism-bottom">
    <div class="container">
      <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>The Great Canadian Wilderness: See For Yourself</h1>
        <h3>We don’t want to brag (actually we’re not allowed to – we’re Canadian) but one of the most beautiful places you’ll ever visit is the wilderness just north of Toronto.</h3>
		<h3>Want to learn more about this (very) Canadian region? Sign up for our travel tips newsletter.</h3>
        <div class="field footer-input">
          <input placeholder="Email">
        </div>
        <div class="button-container">
          <a class="button-main">Sign me up.</a>
        </div>
      </div>
      </div>
    </div>
  </section>
