

<section class="top-section">
  <div class="container-fluid top-container">
		<div class="row">
			<div class="col-md-5">
				<div class="hero-images">
					<img src="http://res.cloudinary.com/dx3z90dgl/image/upload/v1487091807/RTO12Logo_Angled_NEW-02_qqtdvc.png" alt="Rto12logo angled 01 a4euwt">
				</div>
      </div>
    </div>
		<div class="row row-entry">
			<div class="col-md-6 email-capture-box">
				<div class="homepadborder">
					<h1 class="herowhiteh1">HEY CANUCKS!</h1>
					<h4 class="herowhiteh4">Share your favourite story about the great Canadian wilderness to celebrate Canada’s 150th and you could win a $20K trip home!</h4>
						<div class="signup-form">
							<%= render 'form' %>
						</div>
            <div class="t_c home-page-agreement" id="enter-now">
              <h5>By clicking Submit you acknowledge and agree to our <a class="text-link" href="/rules">Contest Rules</a> and <a class="text-link" href="/privacy">Privacy Terms and Conditions.</a></h5>
              <%#= f.label :terms_of_service %>
              <%#= f.check_box :terms_of_service %>
            </div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="your-adventure">
  <div class="container-fluid">
    <div class="col-lg-7 col-md-9">
      <div class="bracket-text">
        <h1 style="font-weight: 400;">SHARE YOUR CANADA</h1>
    		<h1>WIN YOUR ADVENTURE</h1>
    		<h3>Explorers’ Edge wants to bring one lucky Canadian ex-pat home to celebrate Canada’s 150th birthday and a few friends from your new country too!  To be entered, simply upload your great Canadian wilderness story and photo – then share with your friends in your new country to vote for your story to win. Five Finalists will be selected from the most number of votes and one Finalist will win the Grand Prize of an unforgettable trip to the great Canadian wilderness north of Toronto in the summer of 2017 – worth $20K CDN eh! Share your Canada and show your pride!</h3>
      <div class="your-adventure-button-bottom">
        <a href="/entries" class="button-main vote-canada-button-top">Vote for your favourite Canadian Story</a>
      </div>
	  </div>
    </div>
  </div>
  </section>

<section class="enter-to-win">
  <div class="container-fluid">
    <img src="http://res.cloudinary.com/dx3z90dgl/image/upload/v1486396186/Polaroid_uiq7pm.png" alt="Rto12logo angled 01 a4euwt" class="img-responsive img-biker">
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <h1>TRUE STORIES of the<br>TRUE NORTH</h1>
        <h3>Let the world take your word for it – not ours – on just how amazing Canada is! Post your story about your time spent in the great Canadian wilderness, about the stunning landscape, the sparkling waters, your time around a bonfire or on a dock, and then share your story with friends in your new country to let them decide which Canadian adventure is one they’d love to experience most.</h3>
        <div class="enter-to-win-button">
          <a id="enter-now" class="button-main">Enter Now</a>
        </div>
      </div>
    </div>
  </div>
</section>

  <section class="choose-canada">
    <div class="container-fluid">
      <div class="green-board">
        <div class="col-sm-8 col-sm-offset-2 board-text">
          <h2>CHECK OUT CANADA!</h2>
          <h1>CAST YOUR VOTE</h1>
          <a class="button-main vote-canada-button" href="/entries">Vote for Your Favourite Canadian Story</a>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid entries-last-six">
    <div class="row flex-md-top">
    <% @entries.last(2).each do |entry| %>
      <div class="col-md-6 image-block" id="image<%= entry.id %>" data-link="<%= entry_path(entry) %>">

      <% if entry.filter_no_hashtag %>
      <style>
        #image<%= entry.id %> { background-image: url(<%= entry.filter_no_hashtag %>); background-size: cover; height: 400px; background-repeat: no-repeat; background-position: center center;}
      </style>
      <% else %>
      <style>
        #image<%= entry.id %> { background-image: url(<%= entry.avatar_url %>); background-size: cover; height: 400px; background-repeat: no-repeat; background-position: center center;}
      </style>
      <% end %>
        <%#= image_tag(entry.filter) %>
        <%#= cl_image_tag(entry.filter, :width => 800, :height => 400, :crop => "fill") %>
        <div class="hover-content-top">
          <span class="hover-user"><%= entry.user.name %></span><br>
          <span class="hover-title"><h3>
            <% if entry.title %>
            <%= entry.title %>
            <% else %>
            This is our Canada
            <% end %>
          </h3></span><br>
          <span class="hover-votes"><h3><i class="fa fa-heart-o" aria-hidden="true"></i><%= entry.votes.where(email_confirmed: true).count %> VOTES </h3></span><br>
          <div class="hover-content-bottom-right">
            <%= link_to "SEE MORE", entry_path(entry) %>
          </div>
        </div>
        <% if entry.location != nil %>
          <img class="authentic-image-home" src="http://res.cloudinary.com/dx3z90dgl/image/upload/v1487365509/Updated_Regional_Logo_01-02_a83j3k.png">
        <% end %>
        <div class="hover-content-bottom">
          <span class="hover-share">SHARE</span><br>
          <a href="#" class="prettySocial fa fa-facebook" data-title="This is <%= entry.name %>'s Canada" data-url="https://show-us-your-canada.herokuapp.com<%= entry_path(entry) %>" data-type="facebook" data-description="This is <%= entry.name %>'s Canada" data-media="<%= entry.filter %>"></a>
          <a href="#" class="prettySocial fa fa-twitter" data-title="This is <%= entry.name %>'s Canada" data-url="https://show-us-your-canada.herokuapp.com<%= entry_path(entry) %>" data-type="twitter" data-description="This is <%= entry.name %>'s Canada" data-media="<%= entry.filter %>"></a>
        </div>
      </div>
    <% end %>
    </div>
    <div class="row flex-md-middle">
    <% @admin.last(2).each do |admin| %>
      <div class="col-md-6 image-block" id="admin<%= admin.id %>" data-link="<%= admin_path(admin) %>">

        <% if admin.filter %>

        <style>
          #admin<%= admin.id %> { background-image: url(<%= admin.filter %>); background-size: cover; height: 400px; background-repeat: no-repeat; background-position: center center;}
        </style>
        <% else %>
        <style>
          #admin<%= admin.id %> { background-image: url(<%= admin.image_url %>); background-size: cover; height: 400px; background-repeat: no-repeat; background-position: center center;}
        </style>
        <% end %>

        <%#= image_tag(entry.filter) %>
        <div class="hover-content-top">
          <span class="hover-user"><%= admin.name %></span><br>
          <span class="hover-title"><h3>
            This is our Canada
          </h3></span><br>
          <span class="hover-votes"><h3><i class="fa fa-heart-o" aria-hidden="true"></i></h3></span><br>
          <div class="hover-content-bottom-right">
            <%= link_to "SEE MORE", admin_path(admin) %>
          </div>
        </div>
        <img class="authentic-image-home" src="http://res.cloudinary.com/dx3z90dgl/image/upload/v1487365509/Updated_Regional_Logo_01-02_a83j3k.png">
        <div class="hover-content-bottom">
          <span class="hover-share">SHARE</span><br>
          <a href="#" class="prettySocial fa fa-facebook" data-title="This is <%= admin.name %>'s Canada" data-url="https://show-us-your-canada.herokuapp.com<%= admin_path(admin) %>" data-type="facebook" data-description="This is <%= admin.name %>'s Canada" data-media="<%= admin.image %>"></a>
          <a href="#" class="prettySocial fa fa-twitter" data-title="This is <%= admin.name %>'s Canada" data-url="https://show-us-your-canada.herokuapp.com<%= admin_path(admin) %>" data-type="twitter" data-description="This is <%= admin.name %>'s Canada" data-media="<%= admin.image %>"></a>
        </div>
      </div>
    <% end %>
    </div>
    <div class="row flex-md-bottom">
    <% @entries.offset(2).last(2).each do |entry| %>
      <div class="col-md-6 image-block" id="image<%= entry.id %>" data-link="<%= entry_path(entry) %>">

        <% if entry.filter_no_hashtag %>
        <style>
          #image<%= entry.id %> { background-image: url(<%= entry.filter_no_hashtag %>); background-size: cover; height: 400px; background-repeat: no-repeat; background-position: center center;}
        </style>
        <% else %>
        <style>
          #image<%= entry.id %> { background-image: url(<%= entry.avatar_url %>); background-size: cover; height: 400px; background-repeat: no-repeat; background-position: center center;}
        </style>
        <% end %>

        <%#= image_tag(entry.filter) %>
        <div class="hover-content-top">
          <span class="hover-user"><%= entry.user.name %></span><br>
          <span class="hover-title"><h3>
            <% if entry.title %>
            <%= entry.title %>
            <% else %>
            This is our Canada
            <% end %>
          </h3></span><br>
          <span class="hover-votes"><h3><i class="fa fa-heart-o" aria-hidden="true"></i><%= entry.votes.where(email_confirmed: true).count %> VOTES </h3></span><br>
          <div class="hover-content-bottom-right">
            <%= link_to "SEE MORE", entry_path(entry) %>
          </div>
          <% if entry.location != nil %>
            <img class="authentic-image-home" src="http://res.cloudinary.com/dx3z90dgl/image/upload/v1487365509/Updated_Regional_Logo_01-02_a83j3k.png">
          <% end %>
        </div>
        <div class="hover-content-bottom">
          <span class="hover-share">SHARE</span><br>
          <a href="#" class="prettySocial fa fa-facebook" data-title="This is <%= entry.name %>'s Canada" data-url="https://show-us-your-canada.herokuapp.com<%= entry_path(entry) %>" data-type="facebook" data-description="This is <%= entry.name %>'s Canada" data-media="<%= entry.filter %>"></a>
          <a href="#" class="prettySocial fa fa-twitter" data-title="This is <%= entry.name %>'s Canada" data-url="https://show-us-your-canada.herokuapp.com<%= entry_path(entry) %>" data-type="twitter" data-description="This is <%= entry.name %>'s Canada" data-media="<%= entry.filter %>"></a>
        </div>
      </div>
    <% end %>
    </div>
  </section>

  <section class="more-posts">
    <div class="more-posts-button">
      <%= link_to "More Posts", entries_path %>
    </div>
  </section>


  <section class="tourism-bottom">
    <div class="container">
      <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Create Your Own Adventure</h1>
        <h4 class="learn-more" style="text-align:center">Want to learn more about a vacation in the great Canadian wilderness just two hours north of Toronto?</h4>
		<h4 style="text-align:center">Sign up for our Travel Newsletter.</h4>
        <div class="email-form">
          <%= render "emailform" %>
        </div>
        <div class="bottom-hero-images">
          <img src="http://res.cloudinary.com/dx3z90dgl/image/upload/v1485797844/RTO12Logo_Angled_NEW-01_m8ufwu.svg" alt="Rto12logo angled 01 a4euwt">
        </div>
      </div>
      </div>
    </div>
  </section>
